/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: #fff;
  margin: 3% auto;
  padding: 10px;
  width: 90%;
  max-width: 100%;
  border-radius: 6px;
  position: relative;
}

#modalClose {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

#popupCanvas {
  max-width: 100%;
  border: 1px solid #ccc;
}

/* .modal-content {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding: 20px;
} */

.content-row {
    display: flex;
    gap: 20px; /* расстояние между колонками */
    margin-top: 20px;
}

.left-column {
    flex: 0 0 200px; /* фиксированная ширина левой колонки */
    display: flex;
    flex-direction: column;
}

.right-column {
    flex: 1; /* занимает оставшееся пространство */
}

#popupCanvas {
    width: 100%;
    border: 1px solid #ddd;
}

#modelSelectPopup {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

